<div class="container mt-3">


  <div class="card">
    <div class="card-body">

      <h5 class="card-title">Projeto Gerenciamento de Produtos</h5>
      <p class="card-text">Pesquise seus produtos pelo
        período de datas desejado:</p>

      <form [formGroup]="formConsulta" (submit)="pesquisarProduto()">

        <div class="row">
          <div class="col-md-3">
            <label>Data e hora de início:</label>
            <input type="datetime-local" class="form-control" formControlName="dataInicio" />
            <div class="text-danger" *ngIf="fConsulta['dataInicio'].touched && fConsulta['dataInicio'].invalid">
              Por favor, informe a data de início.
            </div>
          </div>
          <div class="col-md-3">
            <label>Data de hora de término:</label>
            <input type="datetime-local" class="form-control" formControlName="dataFim" />
            <div class="text-danger" *ngIf="fConsulta['dataFim'].touched && fConsulta['dataFim'].invalid">
              Por favor, informe a data de término.
            </div>
          </div>


          <div class="col-md-6">
            <input type="submit" class="btn btn-primary mt-4" [disabled]="formConsulta.invalid"
              value="Pesquisar Produtos" />
            <input type="button" class="btn btn-success mt-4 ms-2" data-bs-toggle="modal"
              data-bs-target="#cadastroProduto" value="Cadastrar Produto">
          </div>
        </div>


      </form>

      <div class="mb-3">
       <strong>{{mensagemConsulta}}</strong> 
      </div>


      <div class="table-responsive mt-3 mb-3">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Nome da produto</th>
              <th>Descrição da produto</th>
              <th>Preço</th>
              <th>Quantidade</th>
              <th>Data e hora</th>
              <th>Estado</th>
              <th width="140">Operações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of produtos">
              <td>{{item.nome | uppercase}}</td>
              <td>{{item.descricao}}</td>
              <td>{{item.preco}}</td>
              <td>{{item.quantidade}}</td>
              <td>{{item.dataHora | date : 'dd/MM/yyyy HH:mm'}}</td>
              <td>
                <span *ngIf="item.estado == 0" class="badge text-bg-danger">

                  ESGOTADO
                </span>
                <span *ngIf="item.estado == 1" class="badge text-bg-warning">

                  EM ESTOQUE
                </span>
                <span *ngIf="item.estado == 2" class="badge text-bg-primary">

                  ENCOMENDADO
                </span>
                <span *ngIf="item.estado == 3" class="badge text-bg-success">

                  EM TRÂNSITO
                </span>
              </td>
              <td>

                <button class="btn btn-sm btn-outline-primary me-1" data-bs-toggle="modal"
                  data-bs-target="#edicaoProduto" (click)="obterProduto(item)">
                  Editar
                </button>

                <button class="btn btn-sm btn-outline-danger" (click)="excluirProduto(item.id)">
                  Excluir
                </button>


              </td>
            </tr>

          </tbody>
          <tfoot>
            <tr>
              <!-- <td colspan="4">Quantidade de produtos: {{produtos.length}}</td> -->
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal para cadastro de produto -->

<div class="modal fade" id="cadastroProduto" tabindex="-1" aria- labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Cadastro de produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="mensagemCadastro" class="alert alert-primary alert-dismissible fade show" role="alert">
          <strong>{{mensagemCadastro}}</strong>
          <button (click)="mensagemCadastro = ''" type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <form [formGroup]="formCadastro" (ngSubmit)="cadastrarProduto()">
          <div class="mb-2">
            <label>Nome do produto:</label>
            <input type="text" class="form-control" placeholder="Digite aqui." formControlName="nome" />
            <div class="text-danger" *ngIf="fCadastro['nome'].touched && fCadastro['nome'].invalid">
              Por favor, informe o nome do produto de 8 a 100 caracteres.
            </div>
          </div>

          <div class="mb-2">
            <label>Descrição do produto:</label>
            <textarea class="form-control" placeholder="Digite aqui" formControlName="descricao"></textarea>
            <div class="text-danger" *ngIf="fCadastro['descricao'].touched && fCadastro['descricao'].invalid">
              Por favor, informe a descrição do produto de 8 a 250 caracteres.
            </div>
          </div>

          <div class="mb-2">
            <label>Preço do produto:</label>
            <input type="number" step="0.01" class="form-control" placeholder="Digite aqui" formControlName="preco" />
            <div class="text-danger" *ngIf="fCadastro['preco'].touched && fCadastro['preco'].invalid">
              Por favor, informe o preco do produto.
            </div>
          </div>

          <div class="mb-2">
            <label>Quantidade do produto:</label>
            <input type="number" class="form-control" placeholder="Digite aqui" formControlName="quantidade" />
            <div class="text-danger" *ngIf="fCadastro['quantidade'].touched && fCadastro['quantidade'].invalid">
              Por favor, informe a quantidade do produto.
            </div>
          </div>

          <div class="mb-2">
            <label>Data e hora da tarefa:</label>
            <input type="datetime-local" class="form-control" formControlName="dataHora" />
            <div class="text-danger" *ngIf="fCadastro['dataHora'].touched && fCadastro['dataHora'].invalid">
              Por favor, informe a data e hora do produto.
            </div>
          </div>

          <div class="mb-2">
            <label>Estado do produto:</label>
            <select class="form-select" formControlName="estado">
              <option value="">Escolha uma opção</option>
              <option value="0">ESGOTADO</option>
              <option value="1">EM ESTOQUE</option>
              <option value="2">ENCOMENDADO</option>
              <option value="3">EM TRÂNSITO</option>
            </select>
            <div class="text-danger" *ngIf="fCadastro['estado'].touched && fCadastro['estado'].invalid">
              Por favor, selecione o estado do produto.
            </div>
          </div>

          <div class="mb-2 d-grid">
            <input type="submit" class="btn btn-success" value="Realizar Cadastro" [disabled]="formCadastro.invalid" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para edição de tarefa -->
<div class="modal fade" id="edicaoProduto" tabindex="-1" aria- labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Edição de produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEdicao" (ngSubmit)="editarProduto()">

          <div class="mb-2">
            <label>Nome do produto:</label>
            <input type="text" class="form-control" placeholder="Digite aqui." formControlName="nome" />
            <div class="text-danger" *ngIf="fCadastro['nome'].touched && fCadastro['nome'].invalid">
              Por favor, informe o nome do produto de 8 a 100 caracteres.
            </div>
          </div>

          <div class="mb-2">
            <label>Descrição do produto:</label>
            <textarea class="form-control" placeholder="Digite aqui" formControlName="descricao"></textarea>
            <div class="text-danger" *ngIf="fCadastro['descricao'].touched && fCadastro['descricao'].invalid">
              Por favor, informe a descrição do produto de 8 a 250 caracteres.
            </div>
          </div>

          <div class="mb-2">
            <label>Preço do produto:</label>
            <input type="number" step="0.01" class="form-control" placeholder="Digite aqui" formControlName="preco" />
            <div class="text-danger" *ngIf="fCadastro['preco'].touched && fCadastro['preco'].invalid">
              Por favor, informe o preco do produto.
            </div>
          </div>

          <div class="mb-2">
            <label>Quantidade do produto:</label>
            <input type="number" class="form-control" placeholder="Digite aqui" formControlName="quantidade" />
            <div class="text-danger" *ngIf="fCadastro['quantidade'].touched && fCadastro['quantidade'].invalid">
              Por favor, informe a quantidade do produto.
            </div>
          </div>

          <div class="mb-2">
            <label>Data e hora da tarefa:</label>
            <input type="datetime-local" class="form-control" formControlName="dataHora" />
            <div class="text-danger" *ngIf="fCadastro['dataHora'].touched && fCadastro['dataHora'].invalid">
              Por favor, informe a data e hora do produto.
            </div>
          </div>

          <div class="mb-2">
            <label>Estado do produto:</label>
            <select class="form-select" formControlName="estado">
              <option value="">Escolha uma opção</option>
              <option value="0">ESGOTADO</option>
              <option value="1">EM ESTOQUE</option>
              <option value="2">ENCOMENDADO</option>
              <option value="3">EM TRÂNSITO</option>
            </select>
            <div class="text-danger" *ngIf="fCadastro['estado'].touched && fCadastro['estado'].invalid">
              Por favor, selecione o estado do produto.
            </div>
          </div>

          <div class="mb-2 d-grid">
            <input type="submit" class="btn btn-primary" value="Salvar Alterações" data-bs-dismiss="modal"
              [disabled]="formEdicao.invalid" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>